// Core variables and mixins
@import "../bower_components/bootstrap/less/variables.less";
@import "../bower_components/bootstrap/less/mixins.less";

// Reset and dependencies
@import "../bower_components/bootstrap/less/normalize.less";
//@import "../bower_components/bootstrap/less/print.less";
//@import "../bower_components/bootstrap/less/glyphicons.less";

// Core CSS
@import "../bower_components/bootstrap/less/scaffolding.less";
@import "../bower_components/bootstrap/less/type.less";
//@import "../bower_components/bootstrap/less/code.less";
@import "../bower_components/bootstrap/less/grid.less";
@import "../bower_components/bootstrap/less/tables.less";
@import "../bower_components/bootstrap/less/forms.less";
@import "../bower_components/bootstrap/less/buttons.less";

// Components
@import "../bower_components/bootstrap/less/component-animations.less";
//@import "../bower_components/bootstrap/less/dropdowns.less";
//@import "../bower_components/bootstrap/less/button-groups.less";
@import "../bower_components/bootstrap/less/input-groups.less";
//@import "../bower_components/bootstrap/less/navs.less";
//@import "../bower_components/bootstrap/less/navbar.less";
//@import "../bower_components/bootstrap/less/breadcrumbs.less";
//@import "../bower_components/bootstrap/less/pagination.less";
//@import "../bower_components/bootstrap/less/pager.less";
//@import "../bower_components/bootstrap/less/labels.less";
//@import "../bower_components/bootstrap/less/badges.less";
//@import "../bower_components/bootstrap/less/jumbotron.less";
//@import "../bower_components/bootstrap/less/thumbnails.less";
//@import "../bower_components/bootstrap/less/alerts.less";
//@import "../bower_components/bootstrap/less/progress-bars.less";
//@import "../bower_components/bootstrap/less/media.less";
@import "../bower_components/bootstrap/less/list-group.less";
@import "../bower_components/bootstrap/less/panels.less";
//@import "../bower_components/bootstrap/less/responsive-embed.less";
//@import "../bower_components/bootstrap/less/wells.less";
@import "../bower_components/bootstrap/less/close.less";

// Components w/ JavaScript
@import "../bower_components/bootstrap/less/modals.less";
@import "../bower_components/bootstrap/less/tooltip.less";
//@import "../bower_components/bootstrap/less/popovers.less";
//@import "../bower_components/bootstrap/less/carousel.less";

// Utility classes
@import "../bower_components/bootstrap/less/utilities.less";
//@import "../bower_components/bootstrap/less/responsive-utilities.less";

@font-family-sans-serif: Tahoma, Verdana, Arial, sans-serif;

@border-radius-base:        0px;
@border-radius-large:       0px;

.loader {
	font-size: 10px;
	margin: 1em auto;
	text-indent: -9999em;
	width: 12em;
	height: 12em;
	border-radius: 50%;
	background: #ffffff;
	background: -moz-linear-gradient(left, @brand-primary 10%, rgba(255, 255, 255, 0) 42%);
	background: -webkit-linear-gradient(left, @brand-primary 10%, rgba(255, 255, 255, 0) 42%);
	background: -o-linear-gradient(left, @brand-primary 10%, rgba(255, 255, 255, 0) 42%);
	background: -ms-linear-gradient(left, @brand-primary 10%, rgba(255, 255, 255, 0) 42%);
	background: linear-gradient(to right, @brand-primary 10%, rgba(255, 255, 255, 0) 42%);
	position: relative;
	-webkit-animation: loadspinner 1.4s infinite linear;
	animation: loadspinner 1.4s infinite linear;
}
.loader:before {
	width: 50%;
	height: 50%;
	background: #FFF;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: -1px;
	left: -1px;
	content: '';
}
.loader:after {
	background: #fff;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

@-webkit-keyframes loadspinner {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes loadspinner {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.load-container {
	position: relative;

	.progress-meter {
		position: absolute;
		left: 0;
		width: 100%;
		top: 43px;
		text-align: center;
	}
}

.modal-backdrop {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.table {
	margin-bottom: 0;

	td:last-child {
		text-align: right;
	}
}

.box-version {
	padding-right:  8px;
	padding-bottom: 6px;
}
